<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Seuhendra Setiawan</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/allData">All Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/data1">Data 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/data2">Data 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/data3">Data 3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/data4">Data 4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/data5">Data 5</a>
    </li>
  </ul>
</nav>