<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>
<body> 
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="mt-5 mt-5"></div><br>
    <h5 class="text-center">Semua Data</h5>
    <div class="container">
        <form class="mb-2">
            <div class="input-group">
                <div class="row">
                    <div class="col mr-5">
                        <input type="search" class="form-control rounded" name="search" id="search" placeholder="Search" value="<%= datas.name %>" aria-label="Search" aria-describedby="search-addon" />
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary">search</button>
            </div>
      </form>
      <% let totalData = datas.length %>
        <p>Total Data = <%= totalData %></p>
        <table class="table mt-3 ">
            <thead class="bg-dark text-white ">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Jenis Kelamin</th>
                    <th scope="col">Umur</th>
                    <th scope="col">Warna Mata</th>
                    <th scope="col">Perusahaan</th>
                    <th scope="col">No Telp</th>
                    <th scope="col">Registrasi</th>
                    <th scope="col">Buah Favorit</th>
                </tr>
            </thead>
            <tbody class="table-bordered">
                <% let no = 1%>
                <% datas.forEach((data)=> { %>
                <tr>
                    <td scope="col"><%= no++ %></td>
                    <td scope="col"><%= data.name %></td>
                    <td scope="col"><%= data.gender %></td>
                    <td scope="col"><%= data.age %></td>
                    <td scope="col"><%= data.eyeColor %></td>
                    <td scope="col"><%= data.company %></td>
                    <td scope="col"><%= data.phone %></td>
                    <td scope="col"><%= data.registered %></td>
                    <td scope="col"><%= data.favoriteFruit %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>