<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
        <div class="container">
            <div class="row d-flex flex-column flex-lg-row">
                <div class="col-6">
                    <div class="hero-desc--text">
                        <img src="/images/robot.jpg" width="500">
                    </div>
                </div>
                <div class="col-6">
                    <h3 class="text-center text-primary">eleks</h3>
                    <h1 class="text-center" style="font-size:300px;color: blue;">404</h1>
                    <h5 class="text-center">...Oops! Something is missing</h5>
                    <div class="text-center mt-3">
                        <a href="#" class="btn btn-success">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>